@model Category
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
    <title>Add Category Form</title>
</head>
<body>
    <form method="post" asp-action="AddCategory" asp-controller="Category">
        <div class="form-floating">
            <input class="form-control-plaintext" asp-for="Name" placeholder="Name" id="Name" />
        </div>
        <button type="submit" class="btn btn-primary">Add Category</button>
    </form>
</body>
</html>
